.body-main {
  background-image:'C:\Users\14353\portfolio\My-Portfolio\pexels-joão-jesus-925743.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 10%;
  overflow-x: hidden;
  height: 200px;
}

.background-main {
  width: 150vw;
  height: 180vh;
  position: absolute;
  left: -50px;
  top: -10px;
}
.body-hireme {
  background-image:'C:\Users\14353\portfolio\My-Portfolio\pexels-joão-jesus-925743.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 10%;
  overflow-x: hidden;
  height: 50px;
}

.background-hireme {
  width: 150vw;
  height: 110vh;
  position: absolute;
  left: -70px;
  top: -10px;
}

.body-contact {
  background-image:'C:\Users\14353\portfolio\My-Portfolio\pexels-joão-jesus-925743.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 10%;
  overflow-x: hidden;
  height: 200px;
}

.background-contact {
  width: 150vw;
  height: 110vh;
  position: absolute;
  left: -70px;
  top: -10px;
}
.projects:hover {
  color: white;
  background: grey;
}
.projects {
font-family: "Montserrat";
transition: .5s ease;
align-items: center;
margin-left: 5px;
position: absolute;
left: 33vw;
top: 70vh;
background: none;
border-color: #cef8f8;
border-radius: 10px;
border-color: #cef8f8;
background-color: transparent;
height: 95px;
width: 190px;
font-weight: bold;
color: black;
font-size: 20px;
}


.projects:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.contact {
font-family: "Montserrat";
align-items: center;
margin-left: 5px;
position: absolute;
left: 46vw;
top: 70vh;
background: none;
border-radius: 10px;
border-color: #cef8f8;
background-color: transparent;
background: none;
border-radius: 10px;
border-color: #cef8f8;
background-color: transparent;
height: 95px;
width: 190px;
font-weight: bold;
color: black;
font-size: 20px;
}

.contact:hover {
  color: white;
  background: black;
  cursor: pointer;
}


.hirety {
font-family: "Montserrat";
transition: .6s ease;
align-items: center;
margin-left: 5px;
position: absolute;
left: 59vw;
top: 70vh;
background: none;
border-color: #cef8f8;
border-radius: 10px;
background-color: transparent;
height: 95px;
width: 190px;
font-weight: bold;
color: black;
font-size: 20px;
}

.hirety:hover {
  color: white;
  background: black;
  cursor: pointer;
}


.devicon-github-original {
  position: fixed;
  font-size: 3rem;
  left: 94vw;
  top: 35px;
  border-style: none;
  background: none;
}

.devicon-github-original:hover {
  transform: scale(1.5);               
  cursor: pointer;
}


.devicon-linkedin-plain {
  position: fixed;
  font-size: 3rem;
  left: 90vw;
  top: 35px;
  border-style: none;
  background: none;
}

.devicon-linkedin-plain:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.intro {
font-family: "Montserrat";
position: absolute;
top: 30vh;
left: 33vw;
font-size: 77px;
}

.intro2 {
font-family: "Montserrat";
position: absolute;
top: 40vh;
left: 23vw;
font-size: 77px;
}

.skills {
  font-size: 45px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  text-align: center;
  position: absolute;
  top: 172%;
  left: 43vw;
}

.skills-title {
  font-family: "Montserrat";
  font-size: 30px;
  position: relative;
  top: -70px;
  left: 15vw;
}

.devicon-git-plain-wordmark{
  font-size: 60px;
}

.devicon-nodejs-plain {
  font-size: 50px;
}

/* .slider {
  height: 150px;
  margin: 5px;
  overflow: hidden;
} */

/* .slider div {
  height: 50px;
  margin-bottom: 30px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
  animation: slide 35s linear infinite
} */

/* .slider-text1 {
  color: black;
  background: rgb(255, 115, 0);
  font-family: "Montserrat";
  animation: slide 5s linear infinite

}
.slider-text2 {
  background: blue;
  font-family: "Montserrat";

}

.slider-text3 {
  color: black;
  background: yellow;
  font-family: "Montserrat";

}
.slider-text4 {
  color: grey;
  background: rgb(117, 177, 6);
  font-family: "Montserrat";


}
.slider-text5 {
  color: orange;
  background: grey;
  font-family: "Montserrat";

} */

/* @keyframes slide {
  0% {margin-top: 5px;}
  10% {margin-top: -50px;}
  20% {margin-top: -100px;}
  /* 30% {margin-top: -150px;}
  40% {margin-top: -200px;}
  50% {margin-top: -250px;}
  60% {margin-top: -300px;}
  70% {margin-top: -350px;}
  80% {margin-top: -400px;}
  100% {margin-top: -500px;} */
  /* 0%{margin-top: 0px}

  100%{margin-top: -500px} */
/* } */ 


/* .slidein {
  float: left;
  animation-duration: 5s;
  animation-name: slidein;
  font-size: 30px;
  font-family: "Montserrat";
  position: absolute;
}

@keyframes slidein {
  0%{margin-left: -60%}
  100%{margin-left: 0%}
} */

.about-container {
  overflow-wrap: break-word;
}

.about {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 115vh;
  left: 19vw;
  margin: 55px;
  text-align: center;
  width: 60%;
  height: 50%;
  color: white;
}
.about-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  top: 100vh;
  left: 18vw;
  margin: 55px;
  text-align: center;
  width: 60%;
  height: 50%;
  color: black;
}
/* .about-me-description {
  font-family: "Montserrat";
  top: 13vh;
  right: 1vw;
  font-size: 34px;
  margin: 0px 0px 15px;
  color: white;
} */

.contact-main {
  font-family: "Montserrat";
  position: fixed;
  top: -7px;
  left: 40vw;
  font-size: 30px;
  margin: 0px 0px 15px;
}
.contact-header {
  font-family: "Montserrat";
  position: fixed;
  top: 10vh;
  left: 38vw;
  font-size: 70px;
  margin: 0px 0px 15px;
}

.contact-footer {
  font-family: "Montserrat";
  position: fixed;
  top: 94vh;
  left: 28vw;
  font-size: 40px;
  margin: 0px 0px 15px;
}

.contact-body {
  font-family: "Montserrat";
  position: fixed;
  top: 20vh;
  left: 20vw;
  font-size: 30px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-between;
  padding: 25px;
}

.contact-short {
  font-family: "Montserrat";
  position: fixed;
  top: 40vh;
  left: 37vw;
  font-size: 30px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
}

.homebtn {
  font-size: 55px;
  border-style: none;
  background-color: transparent;
  position: absolute;
  left: 94vw;
  top: 30px;
}

.homebtn:hover {
  transform: scale(1.5);               
  cursor: pointer;
}

.schedulebtn1 {
  font-family: "Montserrat";
  transition: .5s ease;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  font-size: 20px;
  left: 24vw;
  top: 59vh;
  background: none;
  border-radius: 10px;
  border-color: #cef8f8;
  background-color: transparent;
  height: 95px;
  width: 190px;
  font-weight: bold;
  color: white;
}

.schedulebtn2 {
  font-family: "Montserrat";
  transition: .5s ease;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  font-size: 20px;
  left: 45vw;
  top: 79vh;
  background: none;
  border-radius: 10px;
  border-color: #cef8f8;
  background-color: transparent;
  height: 95px;
  width: 190px;
  font-weight: bold;
  color: white;

  }

.schedulebtn1:hover {
  color: black;
  background: white;
  border: transparent;
  cursor: pointer;
  position: absolute;
 font-weight: bold;
}

.schedulebtn2:hover {
  color: black;
  background: white;
  border: transparent;
  cursor: pointer;
  position: absolute;
  font-weight: bold;
}


.phonebtn {
font-size: 70px;
background-color: transparent;
border: none;
position: absolute;
left: 48vw;
top: 25vh
}

.phonebtn:hover {
  transform: scale(1.5)
}

.phonetxt {
  display: none;
  transition: all 0.5s;
  font-size: 25px;
  position: absolute;
  left: -2vw;
}


.phonebtn:hover .phonetxt {
  opacity: 1;
  display: block;
  cursor: pointer;
  
}

.emailbtn {
  font-size: 70px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 48vw;
  top: 48vh;
}

.emailbtn:hover {
  transform: scale(1.5)
}


.emailtxt {
  display: none;
  transition: all 0.5s;
  font-size: 23px;
  position: absolute;
  right: -8vw;
}


.emailbtn:hover .emailtxt {
  opacity: 1;
  display: block;
  cursor: pointer;
  
}
.email {
font-size: 25px;
}

.phone {
  font-size: 25px;
}

